@model SammdaCoffe.Models.UserType

@{
    ViewBag.Title = "Details";
}
<link href="~/css/tables/Details.css" rel="stylesheet" />


<div class="container1">
    <h2>Details</h2>
    <h4>UserType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rol.rolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol.rolName)
        </dd>

    </dl>
    <a href="@Url.Action("Edit", new { id = Model.rolID })" class="d">Edit</a>
    <span>|</span>
    <a href="@Url.Action("Index")" class="back-link">Back to List</a>
</div>

