@model IEnumerable<SammdaCoffe.Models.UserType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rol.rolName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rol.rolName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.userID }) |
            @Html.ActionLink("Details", "Details", new { id=item.userID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.userID })
        </td>
    </tr>
}

</table>
