@model IEnumerable<SammdaCoffe.Models.UserType>

@{
    ViewBag.Title = "Index";
}
<link href="~/css/tables/index.css" rel="stylesheet" />
<div class="container1">
    <h2>Usuarios</h2>

    <p>
        <a href="@Url.Action("Create")" class="action-link">Create New</a>
    </p>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.userName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol.rolName)
            </th>
            <th>
                Acciones
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.userName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.userMail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.userPassword)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rol.rolName)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.userID })" class="action-link">Edit</a>
                    <a href="@Url.Action("Details", new { id = item.userID })" class="action-link">Details</a>
                    <a href="@Url.Action("Delete", new { id = item.userID })" class="action-link">Delete</a>
                    
                </td>
            </tr>
        }

    </table>
    <p>
        <a href="@Url.Action("Menu", "Home")" class="back-link">Regresar</a>
    </p>
</div>
