<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pagina web de blog de cafe">
    <title>@ViewBag.Title Sammda Coffe</title>

    <!--prefetch carga la siguiente pagina-->

    <link rel="prefetch" href="nosotros.html" as="document">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!--preload-->
    <link rel="preload" href="~/css/style.css" as="style">
    <link rel="stylesheet" href="~/css/normalize.css">

    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@700&display=swap" as="font" crossorigin="crossorigin">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/style.css">
    <link rel="preload" href="~/css/style.css" as="style">

    <link rel="preload" href="~/img/blog1.jpg">

</head>
<body>
    <header>
        <nav class="navegacion">
            <div class="contenedor">
                <div class="barra">
                    <a class="logo" href="@Url.Action("ListDProducts")">
                        <h1 class="logo__nombre no-margin center-texto">Sammda<samp class="logo__bold">Coffee</samp></h1>
                    </a>
                    <a id="sesion" class="nav-link" href="@Url.Action("Login")" style="display:none;">
                        <h1 class="navegacion__enlace no-margin center-texto">Iniciar sesión</h1>
                    </a>
                    <a id="salir" class="nav-link" href="@Url.Action("ListDProducts", "ProductDetails")" style="display:block;">
                        <h1 class="navegacion__enlace no-margin center-texto">Salir</h1>
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container body-content">
        @RenderBody()

    </div>
</body>
</html>
