@model IEnumerable<SammdaCoffe.Models.Product>

@{
    ViewBag.Title = "Index";
}
<link href="~/css/products/index.css" rel="stylesheet" />
<div class="container">
    <h2>Productos</h2>

    <p>
        <a href="@Url.Action("Create")" class="action-link">Create New</a>
    </p>

    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => model.productName)</th>
            <th>@Html.DisplayNameFor(model => model.state)</th>
            <th>@Html.DisplayNameFor(model => model.Category.categoryName)</th>
            <th>Acciones</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.productName)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.state)
                </td>
                <td>@Html.DisplayFor(modelItem => item.Category.categoryName)</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.productID })" class="action-link">Edit</a>
                    <a href="@Url.Action("Details", new { id = item.productID })" class="action-link">Details</a>
                    <a href="@Url.Action("Delete", new { id = item.productID })" class="action-link">Delete</a>
                </td>
            </tr>
        }
    </table>

    <p>
        <a href="@Url.Action("Menu", "Home")" class="back-link">Regresar</a>
    </p>
</div>
