@model IEnumerable<SammdaCoffe.Models.Product>

@{
    ViewBag.Title = "Index";
}
<center>
    <h2>Prodcutos</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table" border="1" bgcolor=#F9EBEA>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.productName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.categoryName)
            </th>
            <th>
                Acciones
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.productName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.categoryName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.productID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.productID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.productID })
                </td>
            </tr>
        }

    </table>
    <p>
        @Html.ActionLink("Regresar", "Menu", "Home")
    </p>
</center>
