@model SammdaCoffe.Models.Recipe

@{
    ViewBag.Title = "Details";
}
<link href="~/css/tables/Details.css" rel="stylesheet" />


<div class="container1">
    <h2>Details</h2>
    <h4>Recipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ingredient.ingredientName)
        </dt>

        <dd>
            : @Html.DisplayFor(model => model.Ingredient.ingredientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.productName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.productName)
        </dd>

    </dl>
    <div class="container1">
        <a href="@Url.Action("Edit", new { id = Model.recipeId })" class="d">Edit</a>
        <span>|</span>
        <a href="@Url.Action("Index")" class="back-link">Back to List</a>
    </div>
</div>

