@model IEnumerable<SammdaCoffe.Models.Recipe>

@{
    ViewBag.Title = "ListRecipes";
}
<link href="~/css/litscss.css" rel="stylesheet" />


<script>
            document.getElementById("sesion").style.display = "block";
            document.getElementById("salir").style.display = "none";
</script>

<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Ingredient.ingredientName)</th>
            <th>@Html.DisplayNameFor(model => model.Product.productName)</th>
            <th>@Html.DisplayNameFor(model => model.quantity)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Ingredient.ingredientName)</td>
                <td>@Html.DisplayFor(modelItem => item.Product.productName)</td>
                <td>@Html.DisplayFor(modelItem => item.quantity)</td>
<<<<<<< Updated upstream
=======
                <td class="actions">
                    <a href="@Url.Action("Edit", new { id = item.recipeId })" class="action-link">Edit</a>
                    <a href="@Url.Action("Delete", new { id = item.recipeId })" class="action-link">Delete</a>
                </td>
>>>>>>> Stashed changes
            </tr>
        }
    </tbody>
</table>

