@model IEnumerable<SammdaCoffe.Models.Recipe>

@{
    ViewBag.Title = "ListRecipes";
}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #F9EBEA;
        font-weight: bold;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #e0e0e0;
    }

    td:last-child {
        text-align: center;
    }

    .actions {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .actions a {
            margin: 0 5px;
            color: #555;
            text-decoration: none;
        }

            .actions a:hover {
                color: #000;
            }
</style>

<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Ingredient.ingredientName)</th>
            <th>@Html.DisplayNameFor(model => model.Product.productName)</th>
            <th>@Html.DisplayNameFor(model => model.quantity)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Ingredient.ingredientName)</td>
                <td>@Html.DisplayFor(modelItem => item.Product.productName)</td>
                <td>@Html.DisplayFor(modelItem => item.quantity)</td>
                <td class="actions">
                    <a href="#">Editar</a>
                    <a href="#">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

