@model IEnumerable<SammdaCoffe.Models.Ingredient>

@{
    ViewBag.Title = "Index";
}
<link href="~/css/tables/index.css" rel="stylesheet" />

<div class=" container1">
    <h2>Ingredientes</h2>

    <p>
        <a href="@Url.Action("Create")" class="action-link">Create New</a>
    </p>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ingredientName)
            </th>
            <th>
                Acciones
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ingredientName)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.ingredientID })" class="action-link">Edit</a>
                    <a href="@Url.Action("Details", new { id = item.ingredientID })" class="action-link">Details</a>
                    <a href="@Url.Action("Delete", new { id = item.ingredientID })" class="action-link">Delete</a>
                    
            </tr>
        }

    </table>
    <p>
        <a href="@Url.Action("Menu", "Home")" class="back-link">Regresar</a>
    </p>
</div>