
@{
    ViewBag.Title = "Menu";
}

<h2>Administrar</h2>

<ul>
    <li>@Html.ActionLink("Categorias", "Index", "Categories")</li>
    <li>@Html.ActionLink("Ingredientes", "Index", "Ingredients")</li>
    <li>@Html.ActionLink("Detalles productos", "Index", "ProductDetails")</li>
    <li>@Html.ActionLink("Productos", "Index", "Products")</li>
    <li>@Html.ActionLink("Recetas", "Index", "Recipes")</li>
    <li>@Html.ActionLink("Roles", "Index", "Rols")</li>
    <li>@Html.ActionLink("Usuarios", "Index", "UserTypes")</li>
</ul>
