@model SammdaCoffe.Models.ProductDetail

@{
    ViewBag.Title = "Create";
}
<link href="~/css/tables/PrCrea.css" rel="stylesheet" />
<link href="~/css/tables/Create.css" rel="stylesheet" />



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


<div class="container1">
    <h2>Creates</h2>
    <h4>ProductDetail</h4>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    

    <div class="form-group">
        @Html.LabelFor(model => model.productID)
        @Html.DropDownList("productID", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.productID, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.size)
        @Html.EditorFor(model => model.size, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.size, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.productPrice)
        @Html.EditorFor(model => model.productPrice, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.productPrice, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.descriptionProduct)
        @Html.EditorFor(model => model.descriptionProduct, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.descriptionProduct, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn" />
    </div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "back-link" })

</div>
}


