@model SammdaCoffe.Models.ProductDetail

@{
    ViewBag.Title = "Delete";
}
<link href="~/css/tables/Delete.css" rel="stylesheet" />
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div >
    <h4>ProductDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.size):
            @Html.DisplayFor(model => model.size)
        </dt>
        
        <dt>
            @Html.DisplayNameFor(model => model.productPrice): @Html.DisplayFor(model => model.productPrice)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.descriptionProduct):  @Html.DisplayFor(model => model.descriptionProduct)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Product.productName):  @Html.DisplayFor(model => model.Product.productName)
        </dt>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a href="@Url.Action("Index")" class="back-link">Back to List</a>
        </div>
    }
</div>
