@model IEnumerable<SammdaCoffe.Models.ProductDetail>

@{
    ViewBag.Title = "Index";
}
<link href="~/css/tables/index.css" rel="stylesheet" />
    
   
<div class="container1">
    <h2>Detalles Productos</h2>
    <p>
        <a href="@Url.Action("Create")" class="action-link">Create New</a>
    </p>
    <table >
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descriptionProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.productName)
            </th>
            <th>
                Acciones
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descriptionProduct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.productName)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.detailID })" class="action-link">Edit</a>
                    <a href="@Url.Action("Details", new { id = item.detailID })" class="action-link">Details</a>
                    <a href="@Url.Action("Delete", new { id = item.detailID })" class="action-link">Delete</a>
                   
                </td>
            </tr>
        }

    </table>
    <p>
        <a href="@Url.Action("Menu", "Home")" class="back-link">Regresar</a>
    </p>
</div>